@font-face {
  font-family: 'player';
  src:
    url('./fonts/player.ttf?cxp7hr') format('truetype'),
    url('./fonts/player.woff?cxp7hr') format('woff'),
    url('./fonts/player.svg?cxp7hr#player') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'player' !important;
  font: normal normal normal 18px/1 player;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-backward:before {
  content: "\ea1f";
}
.icon-forward:before {
  content: "\ea25";
}
.icon-volume-up:before {
  content: "\ea27";
}
.icon-volume-off:before {
  content: "\ea29";
}

/* Custom CSS for Audio Player */
@media (min-width: 512px) {
  .player-container {
    max-width: 512px;
    margin: 0 auto;
  }
}

audio {
    width: 100%;
    display: none;
    margin-bottom: -4px;

}

/* Controls - Player  CSS */
.controlBar {
	position: relative;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 0;
	background-color: black; /*rgba(26,26,26,.8);*/
	--height: 40px;
	--width: 100%;
	width: var(--width);
	height: var(--height);
}

.buttonContainer {
    width: calc(var(--width) * 0.125);
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 12px;
    background-color: grey;
}

.player-button {
	color: white;
}

@media (hover:hover) {
    .buttonContainer:hover > .player-button {
        color:#48a0f7;
    }
}

#playButton {
    margin-left: 0px;
    margin-right: 0px;
}

#progressBar {
    width:0%;
    height: calc(var(--height) * 0.25);
    background: #48a0f7;
}

#progressRail {
    background: #cfcfe1c9;
    margin: 0px 4px;
}

#volumeBar {
    height: calc(var(--height) * 0.25);
    background: white;
}

#volumeRail { /* range-track */
    background: #cfcfe1c9;
    margin: 0px 12px 0px 0px;
}

.currentTime {
    width: calc(var(--width) * 0.12);
    text-align: right;
    margin:2px;
    user-select: none;
    color:white;
    font-family: sans-serif;
    font-size:12px;
}

.totalTime{
    width: calc(var(--width) * 0.12);
    margin:2px;
    user-select: none;
    color:#cfcfe1c9;
    font-family: sans-serif;
    font-size:12px;
}


/* Playlist  CSS */
#playlist {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: black;
    border: 5px solid grey;
}

.playlist-item {
  position: relative;
  display: block;
  padding: 2px 2px;
  margin: 1px 5px;
  text-decoration: none;
}

a.playlist-item {
    color: #06bd01;
}

a.playlist-item.active {
    color: #fff;
    border: 1px solid #00f826;
    background-color: #0d1567;
}

.playlist-item > span {
    float:right;
}
